<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="title" content="unneyon.">
    <meta name="description" content="How to donate to the best guy on the Earth?">
    <link rel="icon" href="/static/favicon.png" id="favicon" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>unneyon.</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira Code">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="/static/script.js"></script>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="head">
                <div class="name">
                    <p class="username">
                        Best way to say «Thank you!» <img alt="🥺" src="/static/emojis/donate/thx.png" class="emoji"/>
                    </p><br/>

                    <img alt="🅰" src="/static/emojis/donate/alfa.png" class="emoji"/>
                    <img alt="✌" src="/static/emojis/donate/mir.png" class="emoji"/>
                    <p class="description">
                        <b>Alfa Bank:</b> <code>2200154518709711</code>
                    </p><br/>
                    <img alt="🦅" src="/static/emojis/donate/tbank.png" class="emoji"/>
                    <img alt="✌" src="/static/emojis/donate/mir.png" class="emoji"/>
                    <p class="description">
                        <b>T-Bank:</b> <a href="https://www.tinkoff.ru/rm/r_WYChINepbi.iWlhJDmSZw/tkd6S15556">*click*</a>
                    </p><br/>
                    <img alt="💜" src="/static/emojis/donate/yoomoney.png" class="emoji"/>
                    <p class="description">
                        <b>ЮMoney:</b> <code>4100117798532842</code>
                    </p><br/>
                    <img alt="💎" src="/static/emojis/donate/cryptobot.png" class="emoji"/>
                    <p class="description">
                        <b>Crypto Bot:</b> <a href="https://t.me/send?start=IVSBejfH9ISz">*click*</a>
                    </p><br/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>