<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="title" content="unneyon.">
        <meta name="description" content="I am the best guy on the Earth">
        <link rel="icon" href="/static/favicon.png" id="favicon" type="image/png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>unneyon.</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira Code">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="/static/script.js"></script>
    </head>
<body>
    <div class="container">
        <div class="card">
            <div class="head">
                <div class="pic">
                    <img id="avatar" class="avatar" src="/static/avatar.png" alt="avatar">
                </div>
                <div class="name">
                    <p class="username">
                        unneyon. <img alt="🥺" src="/static/emojis/omori.gif" class="emoji"/>
                    </p><br/>

                    <p class="description">
                        <i class="bi bi-heartbreak-fill"></i>
                        <b>Better times will come someday…</b>
                    </p><br/>
                    <p class="description">
                        <i class="bi bi-person-circle"></i>
                        <b>name:</b> Матвей
                    </p><br/>
                    <p class="description">
                        <i class="bi bi-calendar-event-fill"></i>
                        <b>age:</b> 16 y.o. (December, 30th)
                    </p><br/>
                    <p class="description">
                        <i class="bi bi-geo-alt-fill"></i>
                        <b>from:</b> Russia
                    </p>
                </div>
            </div>
            <div class="links">
                <a href="https://t.me/unneyon" class="link">
                    <i class="bi bi-telegram"></i>
                    <p>Telegram</p>
                </a>
                <a href="https://github.com/unneyon" class="link">
                    <i class="bi bi-github"></i>
                    <p>GitHub</p>
                </a>
                <a href="https://t.me/meunneyon" class="link">
                    <i class="bi bi-telegram"></i>
                    <p>Telegram Life channel</p>
                </a>
                <a href="https://t.me/unneyon_hmods" class="link">
                    <i class="bi bi-megaphone-fill"></i>
                    <p>Modules</p>
                </a>
                <a href="https://unneyon.ru/donate" class="link">
                    <i class="bi bi-cash-stack"></i>
                    <p>Donate</p>
                </a>
                <a href="https://t.me/unneyon_bio/49" class="link">
                    <i class="bi bi-music-note"></i>
                    <p>Music</p>
                </a>
                <a href="https://t.me/unneyon_projects" class="link">
                    <i class="bi bi-briefcase-fill"></i>
                    <p>Projects</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>